<p class="brand">Édité par <a class="brand__link" href="mailto:&#097;&#109;&#105;&#110;&#097;&#064;&#104;&#105;&#101;&#114;&#111;&#045;&#109;&#101;&#114;&#099;&#101;&#100;&#046;&#099;&#111;&#109;">Hiero-Merced</a> pour</p>
