@import '../../../sass/partials/utils/em';
@import '../../../sass/theme';

.spinner {
  position: relative;
  height: em(13);
  width: em(55);

  &__ellipse {
    position: absolute;
    top: 0;
    height: em(13);
    width: em(13);
    border-radius: 50%;
    background: $dark-color;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    @keyframes first-ellipse-animation {
      0% {
        transform: scale(0);
      }

      100% {
        transform: scale(1);
      }
    }

    @keyframes third-ellipse-animation {
      0% {
        transform: scale(1);
      }

      100% {
        transform: scale(0);
      }
    }

    @keyframes second-ellipse-animation {
      0% {
        transform: translate(0, 0);
      }

      100% {
        transform: translate(em(21), 0);
      }
    }

    &:nth-child(1) {
      left: 0;
      animation: first-ellipse-animation .6s infinite;
    }

    &:nth-child(2) {
      left: 0;
      animation: second-ellipse-animation .6s infinite;
    }

    &:nth-child(3) {
      left: em(21);
      animation: second-ellipse-animation .6s infinite;
    }

    &:nth-child(4) {
      left: em(42);
      animation: third-ellipse-animation .6s infinite;
    }
  }
}
