@mixin breakpoint($map) {
  $query: '';

  @if map-has-key($map, min) {
    $query: append($query, '(min-width: #{em(map-get($map, min))})');
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, 'and');
  }
  @if map-has-key($map, max) {
    $query: append($query, '(max-width: #{em(map-get($map, max))})');
  }

  @media screen and #{$query} {
    @content;
  }
}
