.home {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    display: block;
    height: 100%;
    width: em(99999);
    background-color: $theme-color;
    transform: translate(-50%, -50%) skewY(-5deg);
  }

  &__grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 500px;
    rows: 1fr 1fr;
    grid-template-areas: 'headings widget-wrapper' 'widget-intro widget-wrapper';
  }

  &__headings {
    padding: em(34, 34) em($gutter, 34) em(21, 34) 0;
    color: $light-color;
    font-size: em(34);
    grid-area: headings;
    align-self: end;
  }

  &__widget-wrapper {
    padding: em(21, 21) 0 em(21, 21) em($gutter, 21);
    font-size: em(21);
    grid-area: widget-wrapper;
    align-self: center;
  }

  &__widget-intro {
    padding: em(21) em($gutter) em(34) 0;
    grid-area: widget-intro;
    align-self: center;
  }
}
