@import '../../../sass/partials/utils/em';
@import '../../../sass/theme';

.intro {
  &__partners {
    padding: 0;
    margin: em(-10.5);
    text-align: center;
    list-style: none;

    .partners__item {
      display: inline-block;
      vertical-align: middle;
      margin: em(10.5);
    }
  }

  &__title {
    margin: em(21, 34) 0 0;
    color: $dark-color;
    color: var(--intro-color, $dark-color); // sass-lint:disable-line no-duplicate-properties
    font-family: $title-font;
    font-size: em(34);
    line-height: 1.3;
    text-align: center;
  }

  &__subtitle {
    margin: em(8, 13) 0 0;
    color: rgba($dark-color, .5);
    color: var(--intro-color, rgba($dark-color, .5)); // sass-lint:disable-line no-duplicate-properties
    font-family: $text-font;
    font-size: em(13);
    line-height: 1.4;
    text-align: center;

    a {
      color: $dark-color;
      color: var(--intro-color, $dark-color); // sass-lint:disable-line no-duplicate-properties
    }
  }

  &__quote {
    position: relative;
    padding-left: 2em;
    margin: 1em 0 0;
    color: $dark-color;
    color: var(--intro-color, $dark-color); // sass-lint:disable-line no-duplicate-properties
    font-family: $title-font;
    font-size: em(21);
    line-height: 1.3;

    &::before {
      content: '“';
      position: absolute;
      top: 0;
      left: 0;
      color: $dark-color;
      color: var(--intro-color, $dark-color); // sass-lint:disable-line no-duplicate-properties
      font-family: $title-font;
      font-size: em(55);
      line-height: 1;
      opacity: .3;
    }
  }

  &__quote-author {
    margin-top: em(8);
  }

  .quote-author {
    display: flex;
    justify-content: center;
    align-items: center;

    &__avatar {
      width: em(55);
      border-radius: 50%;
    }

    &__name {
      margin: 0 0 0 1em;
      color: $dark-color;
      color: var(--intro-color, $dark-color); // sass-lint:disable-line no-duplicate-properties
      font-family: $text-font;
      font-size: em(13);
      line-height: 1.4;
      opacity: .5;
    }
  }
}
